body{
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-photo/woman-hand-watering-young-plant-natural-mountain-background_104033-7.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 40px;
}

h3 {
  font-size: 50px;
  font-style: italic;
}


.search-container:hover > .search-input{
    width: 1000px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}
