<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, intial-scale=1">
        <title>Manju</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/manju.css') }}">
        <link rel="preconnect" href="htpp://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    </head>
    <body>
        <section class="about">
            <div class="content">
                <img src="{{ url_for('static',filename='images/IMG_20210920_094643.jpg')}}">
                <div class="text">
                    <h1>Manju S</h1>
                    <h5>Frontend Backend Connectivity</h5>
                    <p>TEAM MEMBER</p> 
                    <h6>III year-B.E (Computer Science Engineering),</h6>
                    <h6>Kumarasamy College of Engineering,</h6>
                    <h6>Karur.</h6>
                    <p>I have been a member of intershala student partner in ISP program. 
					I have been worked on many web development projects.
					I have got certification in Artificial Intelligence at IBM. 
					In this Farm AI-BOT project, I have worked in Frontend – Backend connectivity . 
					I have used Flask as a backend to connect the web page with our Farm AI-BOT Neural Network model.
                        </p>
                        <a href="/team"><button type="button">Back to team</button></a>
                </div>
            </div>
        </section>
    </body>
</html>