<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, intial-scale=1">
        <title>Padmaja</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/padmaja.css') }}">
        <link rel="preconnect" href="htpp://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    </head>
    <body>
        <section class="about">
            <div class="content">
                <img src="{{ url_for('static',filename='images/padmaja.jpeg')}}">
                <div class="text">
                    <h1>Padmaja S</h1>
                    <h5>Documentation & Backend Connectivity</h5>
                    <p>TEAM MEMBER</p>
                    <h6>III year-B.E (Computer Science Engineering),</h6>
                        <h6>M. Kumarasamy College of Engineering,</h6>
                        <h6>Karur.</h6>
                        <p>I am good at solving programs using C, java and python and I have better 
                        knowledge on html and css. I have got certification in Artificial 
                        Intelligence at IBM. In this Farm AI-BOT project, I have worked on 
                        preparing the report of Farm AI-BOT and also involved in connecting 
                        the Frontend web page with Backend model using Flask.</p>
                        <a href="/team"><button type="button">Back to team</button></a>
                </div>
            </div>
        </section>
    </body>
</html>