<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            backpicchange
        </title>
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bgchng.css') }}">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                
                <img class="logo" src="{{ url_for('static',filename='images/logo.jpeg')}}">
                
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/index1">Contact</a></li>
                    <li><a href="/team">Developers</a></li>
                </ul>
                <a href="/search" class="button" onclick="img">
                <img class="bot" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFCJVq9J12ay3LGantN36G-hTRAV4DAfij2A&usqp=CAU">
                </a>
            </nav> 
        </div>
        
    </body>
</html>