<! DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>

<p><center><b><h1 style="color:blue;">The answer for </h1><br><h2 style="color:red;">{{question}}  </h2><h3 style="color:black;"><br> {{answer}}</h3></b></center></p>
</body>
</html>