<html lang="en">
<head>
    <!-- Created by Rizowan Ahmed Safi -->
    <!-- website - www.rizowanahmedsafi.com  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Service Section - Rizowan Ahmed Safi</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
</head>
<body>
    <div class="services">
        <div class="max-width">
            <h1>Our Services</h1>
            <div class="content">
                <div class="card">
                    <div class="box">
                        <i class="material-icons">looks_one</i>
                        <h3>Quick To Answer</h3>
                        <p>Effective to answer queries related to weather, market prices, plant protection and so on in easily understandable manner.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="material-icons">looks_two</i>
                        <h3>Hands On Access</h3>
                        <p>Provides hands on world-wide access from any electronic gadgets such as PC, laptop or mobile in a personalized way.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="material-icons">looks_3</i>
                        <h3>Crack New Agri-Technologies</h3>
                        <p>Uplift the knowledge of illiterate farmers regarding advanced agricultural techniques and methods.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="material-icons">looks_4</i>
                        <h3>User Friendly</h3>
                        <p>Provides excellent user friendly interface for users with more interactive and professional manner.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>