<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, intial-scale=1">
        <title>Sinegalatha</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sinegalatha.css') }}">
        <link rel="preconnect" href="htpp://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    </head>
    <body>
        <section class="about">
            <div class="content">
                <img src="{{ url_for('static',filename='images/sinegalatha.jpg')}}">
                <div class="text">
                    <h1>Sinegalatha</h1>
                    <h5>Machine Learning</h5>
                    <p>TEAM LEADER</p>
                    <h6>III year-B.E (Computer Science Engineering),</h6>
                    <h6>M. Kumarasamy College of Engineering,</h6>
                    <h6>Karur.</h6>
                    <p>I am certified at IBM for Artificial Intelliegence.
					I have completed the Research Project Internship in Artificial
					Intelligence at SSN College of Engineering, Chennai.
					I have been also worked as a Content Writer for Artificial Intelligence
					Technology in Cybernaut Non-Governmental Organisation. 
					I have got Gold Badge in python at HackerRank. I got General
					Proficiency Award during my higher Secondary. In our Farm AI-BOT, 
					I have worked in developed a Farm AI ChatBot 
                            System  using Neural Network
							technique and Bag of Words methods using Python at Jupiter Notebook platform
					successfully. The ChatBot system produces an accuracy 73%.. </p>
                        <a href="/team"><button type="button">Back to team</button></a>
                </div>
            </div>
        </section>
    </body>
</html>